main{
    text-align: center;
}
img{
    width: 200px;
    height: 250px;
}
figcaption{
    text-align: center;
}
figure{
    display: inline-block;
    width: 15%;
    margin: 4%;
    vertical-align: top;
}
@media screen and (max-width:960px){
    figure{
        display: block;
        width: 100%;
    }
}
.ancho{
    width: 250px;
    height: 250px;
}
h1{
    color: rgb(255, 0, 0);
    text-align: right;
    background-color: rgb(38, 37, 37);
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 2%;
}